* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

nav {
	background-color: #333;
}

/*** NAVIGATION ***/

.navbar i {
	color: skyblue;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

.nav-link {
	text-transform: uppercase;
}
